In [74]:
import pandas as pd
import os
import requests
from datetime import datetime, timedelta
import requests
from bs4 import BeautifulSoup as bs
import data.publisher as pb
import data.temp as temp
import json

In [2]:
pd.read_csv("./save/links.csv")

                                                    link
0      https://n.news.naver.com/mnews/article/047/000...
1      https://n.news.naver.com/mnews/article/421/000...
2      https://n.news.naver.com/mnews/article/277/000...
3      https://n.news.naver.com/mnews/article/016/000...
4      https://n.news.naver.com/mnews/article/001/001...
...                                                  ...
11075  https://n.news.naver.com/mnews/article/001/001...
11076  https://n.news.naver.com/mnews/article/119/000...
11077  https://n.news.naver.com/mnews/article/468/000...
11078  https://n.news.naver.com/mnews/article/018/000...
11079  https://n.news.naver.com/mnews/article/119/000...

[11080 rows x 1 columns]

In [186]:
sample=pd.read_csv("./save/sample.csv")

In [187]:
sample

,title,content
0,"""이태원 참사... 지자체 행사도 이렇게는 안 할 거예요""","['“농민수당을 만든 사람”, “우리를 위해 밥도 굶어준 사람” “배지 없이도 구의..."
1,"한·뉴질랜드 태평양 대화 ""기후변화 등 협력 파트너""","[""(서울=뉴스1) 이창규 기자 = 우리나라와 뉴질랜드 외교당국이 8일 '한·뉴질랜..."
2,"[속보]대통령실 ""종부세 부담 줄이는 다양한 방안 논의, 실천""",['\n</div>']
3,[단독]“이태원 대응 복지부 직원 동원 여론 심상찮아”…조규홍 “가시적 조치”,['[헤럴드경제=이상섭 기자] 조규홍 보건복지부 장관이 복지부 직원으로 추정되는 인...
4,"대법 ""공수처의 김웅 의원실 압수수색은 위법""(종합)","['공수처 ""참여권 범위 넓힌 선례로 이해…재판에는 영향 없어""</strong>',..."
5,"한덕수·이상민·윤희근 ""책임 회피할 생각 없지만…""","[""한덕수 국무총리와 이상민 행정안전부 장관이 이태원 참사와 관련해 야당의 사퇴 압..."
6,"[10.29 참사] 윤건영 ""왜 4시간 동안 쳐다만 보고 있었냐?""…""대통령이 경찰...","['박지원 ""윤 대통령 4시간 동안 뭐하셨나?…국가위기관리센터 잘 작동했나?""', ..."
7,"[영상] 러, 최신 핵잠수함 성능 시험 완료…태평양함대 배치 예정",[' 보도에 따르면 세브마슈 조선소 미하일 부드니첸코 최고경영자(CEO)는 이...
8,"이재명, 오열하는 이태원 유족 손잡고 ""미안하다, 죄송하다""",['이재명 더불어민주당 대표는 8일 서울 용산구 이태원 파출소를 찾아 사고 당시 현...
9,"[이태원 참사] 野 ""한덕수·이상민 책임"" vs 與 ""경찰, 사상누각""","[""與, '정부 책임론' 선 긋기…제도 미비 지적</strong>"", '(서울=연합..."

In [36]:
url="https://news.daum.net"

In [37]:

headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"}
req = requests.get(url,headers=headers)
html=req.text
soup = bs(html, 'html.parser')

In [72]:
link=soup.select(".item_issue > a")[0].get("href")
thumbnail=soup.select(".item_issue > a >img")[0].get("src")
category=soup.select(".txt_category")[0].text
title=soup.select(".link_txt")[0].text.strip()

In [73]:
title

'YTN, 지분 매각 통한 민영화 수순에 주가 급등'

In [71]:
title.strip()

'YTN, 지분 매각 통한 민영화 수순에 주가 급등'

In [15]:
body > div.container-doc > main > section > div > div.content-article > div.box_g.box_news_issue > ul > li:nth-child(1) > div > a

AttributeError: ResultSet object has no attribute 'select_one'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [83]:
with open("./save/dailyCrawling.json", "r") as json_file:
    json_data = json.load(json_file)

'BOE 수석 이코노미스트 "펜데믹 양적완화는 실수였다"···공급확대 정책 실수 인정'

In [105]:
import urllib.request
from bs4 import BeautifulSoup
import os
from importlib.resources import read_text
import requests
import data.tools as tools
#네이버 기사 혹은 다음 기사 링크 인풋
news=tools.get_title_contents(input())

In [148]:
new_news=[]
remover=["\n","\t","</div>","\'"]
for i in range(len(news[1])):
    line=news[1][i].strip()
    for j in remover:
        line=line.replace(j,"")
    new_news.append(line)

seperator=","
seperator.join(new_news)

In [150]:
seperator=","
seperator.join(new_news)

'(서울=뉴스1) 이창규 기자 = 우리나라와 뉴질랜드 외교당국이 8일 한·뉴질랜드 태평양 대화를 열어 태평양 정세와 대(對)태평양 도서국 정책 및 개발협력 등에 대해 논의했다.,외교부에 따르면 서민정 아시아·태평양국 심의관과 조너선 오스틴 뉴질랜드 외교부 태평양국장은 이날 대화에서 "한국과 뉴질랜드는 인도·태평양 지역의 자유·평화·번영을 위해 함께 기여할 수 있는 파트너"라며 태평양 지역에서 양국이 협력할 수 있는 분야를 모색해가가기로 했다.,서 심의관은 특히 "한국 정부는 글로벌 중추 국가 비전에 따라 태평양 도서국과의 관계 강화를 중시하고 있다"며 "2050 푸른태평양대륙 전략 실현에도 기여할 수 있도록 태평양 도서국과의 협력을 확대해 나갈 예정"이라고 소개했다.,2050 푸른태평양대륙 전략은 지난 7월 태평양도서국포럼(PIF) 정상회의에서 공식 채택된 것으로 태평양 지역의 장기 개발 비전과 중점 분야 등을 담고 있다. 여기엔 △정치적 리더십과 지역주의 △사람 중심 개발 △평화·안보 △기후변화·재난 △해양·환경 △자원·경제개발 △기술·연결성 등이 포함된다.,오스틴 국장도 보건 시스템 강화와 기후변화 대응 등에서 우리 정부와 협력하고자 한다고 밝혔다.'

NameError: name 'old_string' is not defined